.element1 {
  transform: translate(69px, 20px) rotate(45deg) ;
  width: 70px;
  height: 70px;
  background: #778899;
  border: 3px solid rgba(0,0,0,.3);
  border-radius: 8px 8px 8px;
  
}
.element2 {
  transform: translate(25px, 25px) rotate(15deg);
  width: 70px;
  height: 70px;
  background: #FFFF00;
  border: 3px solid rgba(0,0,0,.3);
  border-radius: 8px 8px 8px;
  
  
}
.element3 {
  transform: translate(115px, -53px) rotate(-15deg);
  width: 70px;
  height: 70px;
  background: #FF1493;
  border: 3px solid rgba(0,0,0,.3);
  border-radius: 8px 8px 8px;
  
}



.square {
  border-radius: 10%;
  width: 80px;
  height: 80px;
  
  
}

.one {
  background-color: #778899;
  position: relative;
   -webkit-transform: rotate(45deg);
  left: 300px;
  top: -205px;
  
}

.two {
  background-color: #FFFF00;
  position: relative;
  -webkit-transform: rotate(15deg);
  left: 252px;
  top: -200px;
}

.three {
  background-color: #FF1493;
  position: relative;
  -webkit-transform: rotate(-15deg);
  left: 347px;
  top: -280px;
}



